.elements__container {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin: 0;
  padding: 0;
  gap: 20px;
}

.element {
  background-color: white;
  color: black;
  width: 100%;
  height: 360px;
}

.element__picture {
  margin: 0;
  width: 100%;
  height: 78%;
  object-fit: cover;
}

.element__caption {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like-btn {
  background: transparent url(../images/like.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  opacity: 100%;
  transition: opacity 0.3s ease-in;
}

.element__like-btn:hover {
  opacity: 40%;
}
