.footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 100%;
}

.footer__caption {
  margin: 0;
  color: #545454;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}

@media screen and (min-width: 645px) {
  .footer {
    padding-top: 67px;
    padding-bottom: 60px;
  }

  .footer__caption {
    font-size: 16px;
  }
}

@media screen and (min-width: 835px) {
  .footer__caption {
    font-size: 18px;
  }
}
