.form__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
  color: #000;
  margin: 0 0 62px;
}

.form__input {
  min-height: 27px;
  width: 100%;
  margin: 30px 0 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.form__input_type_error {
  border-bottom: 1px solid rgba(255, 0, 0);
}

.form__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form__error-message {
  color: #ff0000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  visibility: hidden;
  position: absolute;
}

.form__error-message_visible {
  visibility: visible;
}

.form__save-btn {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  width: 100%;
  max-height: 46px;
  background-color: #000;
  color: #fff;
  padding: 14px 100px;
  margin-top: 15px;
}

.form__save-btn_disabled {
  color: #000;
  background-color: #fff;
  opacity: 20%;
}

.form__save-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (min-width: 645px) {
  .form__title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .form__save-btn {
    font-size: 18px;
    max-height: 50px;
    padding: 14px 125px 18px;
    margin-top: 42px;
  }
}
