.header {
  margin-top: 28px;
  margin-bottom: 42px;
  padding-left: 27px;
  min-height: 56px;
  max-width: 100%;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
}

.header__logo {
  max-width: 126px;
}

@media screen and (min-width: 645px) {
  .header {
    margin-top: 45px;
    margin-bottom: 40px;
    padding-left: 0;
    min-height: 74px;
  }

  .header__logo {
    max-width: 173px;
  }
}
