.image-modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.image-modal_opened {
  visibility: visible;
  opacity: 100%;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-modal__container {
  position: relative;
  margin: auto;
  max-width: 240px;
}

.image-modal__image {
  width: 100%;
  min-height: 299px;
  max-height: 299px;
}

.image-modal__exit-btn {
  position: absolute;
  right: -36px;
  top: -36px;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.image-modal__caption {
  margin: 10px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
}

@media screen and (min-width: 645px) {
  .image-modal__container {
    max-width: 75vw;
  }

  .image-modal__image {
    min-height: 75vh;
    max-height: 75vh;
  }
}
