.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 100%;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__container {
  position: relative;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  max-width: 282px;
  min-height: 322px;
}

.modal__exit-btn {
  position: absolute;
  right: 0;
  top: -40px;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.modal__form {
  margin: 25px 22px;
}

@media screen and (min-width: 645px) {
  .modal__container {
    max-width: 440px;
    max-height: 330px;
  }

  .modal__exit-btn {
    right: -40px;
    width: 40px;
    height: 40px;
  }

  .modal__form {
    margin: 36px;
  }
}
