@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.page {
  background-color: #000000;
  color: #ffffff;
}

.page__content {
  width: 90%;
  max-width: 880px;
  margin-inline: auto;
}

.header {
  margin-top: 3rem;
  margin-bottom: 4rem;
  min-height: 56px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  width: calc(30% + 60px);
  max-width: 180px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin-bottom: 2rem;
}

.profile__picture {
  width: 120px;
  height: 120px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 14px;
}

.profile__title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profile__name {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}

.profile__edit-btn {
  background: transparent url(../images/edit.svg) center no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  opacity: 100%;
  transition: opacity 0.3s ease-in;
}

.profile__edit-btn:hover {
  opacity: 60%;
}

.profile__caption {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.profile__add-btn {
  background: transparent url(../images/add.svg) center no-repeat;
  width: 100%;
  height: 50px;
  border: 2px solid white;
  opacity: 100%;
  transition: opacity 0.3s ease-in;
}

.profile__add-btn:hover {
  opacity: 60%;
}

.elements__container {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin: 0;
  padding: 0;
  gap: 20px;
}

.element {
  background-color: white;
  color: black;
  width: 100%;
  height: 360px;
}

.element__picture {
  margin: 0;
  width: 100%;
  height: 78%;
  object-fit: cover;
}

.element__caption {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}

.element__like-btn {
  background: transparent url(../images/like.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  opacity: 100%;
  transition: opacity 0.3s ease-in;
}

.element__like-btn:hover {
  opacity: 40%;
}

.footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 100%;
}

.footer__caption {
  margin: 0;
  color: #545454;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
}

@media screen and (min-width: 645px) {
  .profile {
    flex-direction: row;
  }

  .profile__add-btn {
    max-width: 150px;
    margin-right: 0;
    margin-left: auto;
  }

  .profile__info {
    margin-left: 30px;
    margin-right: 30px;
    align-items: start;
  }

  .profile__caption {
    font-size: 16px;
  }

  .profile__name {
    font-size: 25px;
  }

  .footer__caption {
    font-size: 16px;
  }
}

@media screen and (min-width: 835px) {
  .profile__caption {
    font-size: 18px;
  }

  .profile__name {
    font-size: 42px;
  }

  .footer__caption {
    font-size: 18px;
  }
}
