@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/elements.css);
@import url(../blocks/footer.css);

@media screen and (min-width: 645px) {
  .profile {
    flex-direction: row;
  }

  .profile__add-btn {
    max-width: 150px;
    margin-right: 0;
    margin-left: auto;
  }

  .profile__info {
    margin-left: 30px;
    margin-right: 30px;
    align-items: start;
  }

  .profile__caption {
    font-size: 16px;
  }

  .profile__name {
    font-size: 25px;
  }

  .footer__caption {
    font-size: 16px;
  }
}

@media screen and (min-width: 835px) {
  .profile__caption {
    font-size: 18px;
  }

  .profile__name {
    font-size: 42px;
  }

  .footer__caption {
    font-size: 18px;
  }
}
